---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

pre, .highlight {
  background: #f6f8fa !important;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 10px;
}
code { color: inherit; }

